[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
slack-sdk = "*"
dotenv = "*"
openai = "*"
pinecone-client = "*"
langchain-openai = "*"
langchain_community = "*"
langchain_pinecone = "*"
langchain_tavily = "*"

[dev-packages]

[requires]
python_version = "3.13"
